Daily AI News Briefing/Daily-AI-News-Briefing.json
{
  "name": "Daily AI News Briefing",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "id": "157eae75-0a44-4067-a0fa-6b3b55b9ace1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "O9EUKVRLKPb4IPMB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/openai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        -352
      ],
      "id": "76cb8d50-0788-4bee-8b78-b605c1dca4aa",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        -224
      ],
      "id": "4d900187-7daf-4a9e-a329-8741b45d678e",
      "name": "TechCrunch"
    },
    {
      "parameters": {
        "url": "https://blog.google/technology/ai/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        176
      ],
      "id": "f70e8b57-9c28-4afd-9bca-62ad524927fd",
      "name": "Google DeepMind"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/anthropic/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        -80
      ],
      "id": "ccee8e71-dcb2-42df-8c15-af4dcc40b282",
      "name": "Anthropic News"
    },
    {
      "parameters": {
        "url": "https://blogs.microsoft.com/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        304
      ],
      "id": "5515d9d1-52be-42bf-9d38-c00e6bdc1fce",
      "name": "Microsoft AI Blog"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:theverge.com+Artificial+Intelligence",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        432
      ],
      "id": "7575ecb2-afc2-4684-b240-29dbd93f809b",
      "name": "The Verge AI"
    },
    {
      "parameters": {
        "url": "https://arstechnica.com/tag/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        48
      ],
      "id": "5959de0a-33b9-4fbc-b6ee-cf1654a3a2c8",
      "name": "Ars Technica"
    },
    {
      "parameters": {
        "content": "## 📡 NEWS SOURCES",
        "height": 976,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -400
      ],
      "id": "ad00df8d-04ba-4af0-8c4f-9e82ecd98236",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI Intelligence Analyst and Editor-in-Chief. Your goal is to curate an insightful, engaging daily briefing for AI professionals and enthusiasts.\n\n### YOUR TASK:\n1. Analyze: Read the provided list of {{ $json.count }} raw AI news items below.\n2. Filter & Curate: Select the top 12 most important stories. Prioritize: major product launches, breakthrough research, significant funding, strategic partnerships, and regulatory developments. Skip generic \"Top 10 lists\" and pure marketing content.\n3. Sort: Order by impact and relevance (most important first).\n4. Write: Create engaging, insightful summaries that explain not just WHAT happened, but WHY it matters. Write it in Style: Short, clear, business-focused in a calm CEO tone. No technical jargon. Easy to scan, easy to act on.\n\n### OUTPUT FORMAT:\n\nGenerate a well-formatted HTML email with this structure:\n\n<html>\n<body style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;\">\n\n<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 12px; margin-bottom: 30px;\">\n<h1 style=\"margin: 0; font-size: 32px;\">🤖 AI Daily Brief</h1>\n<p style=\"margin: 10px 0 0 0; opacity: 0.9; font-size: 16px;\">{{ $now.format('MMMM DD, YYYY') }} • Top Stories from the AI World</p>\n</div>\n\n<div style=\"background-color: white; padding: 35px; border-radius: 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.08);\">\n\n<!-- Repeat this block for each news item -->\n<div style=\"margin-bottom: 40px; padding-bottom: 30px; border-bottom: 3px solid #f0f0f0;\">\n\n<h2 style=\"color: #1a1a1a; font-size: 22px; margin: 0 0 15px 0; line-height: 1.3;\">\n🔥 [Headline Here]\n</h2>\n\n<p style=\"color: #333; line-height: 1.8; margin: 0 0 20px 0; font-size: 16px;\">\n[4-6 sentence engaging summary. Explain what happened in accessible language, provide context, and make it interesting to read. Avoid jargon. Tell a story.]\n</p>\n\n<div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 8px; margin-bottom: 15px;\">\n<p style=\"margin: 0 0 12px 0; color: #555; font-size: 15px; line-height: 1.6;\"><strong>📈 What it means for the industry:</strong><br>[1-2 sentences about significance for the AI ecosystem]</p>\n\n<p style=\"margin: 0 0 12px 0; color: #555; font-size: 15px; line-height: 1.6;\"><strong>⚡ Potential impact:</strong><br>[1-2 sentences about concrete consequences]</p>\n\n<p style=\"margin: 0 0 12px 0; color: #555; font-size: 15px; line-height: 1.6;\"><strong>✅ Pros:</strong><br>[2-3 specific benefits or opportunities]</p>\n\n<p style=\"margin: 0 0 12px 0; color: #555; font-size: 15px; line-height: 1.6;\"><strong>❌ Cons:</strong><br>[2-3 specific risks, concerns, or limitations]</p>\n\n<p style=\"margin: 0; color: #555; font-size: 15px; line-height: 1.6;\"><strong>🎯 Who should care:</strong><br>[Specific groups: e.g., \"ML Engineers\", \"AI Startups\", \"Enterprise teams\", \"Investors\"]</p>\n</div>\n\n<a href=\"[URL]\" style=\"display: inline-block; background-color: #667eea; color: white; padding: 10px 20px; text-decoration: none; border-radius: 6px; font-weight: bold; margin-top: 10px;\">🔗 Read more →</a>\n\n</div>\n<!-- End repeat -->\n\n</div>\n\n<div style=\"text-align: center; margin-top: 30px; padding: 20px; color: #999; font-size: 13px;\">\nCurated with ❤️ by AI • Powered by n8n\n</div>\n\n</body>\n</html>\n\n### WRITING STYLE:\n- **Accessible, not technical**: Write for smart people who may not be AI experts\n- **Storytelling**: Explain the \"why\" and context, not just dry facts\n- **Balanced**: Show both opportunities and risks\n- **Specific**: Use concrete examples, numbers, and real implications\n- **Engaging**: Make it interesting to read, like a good journalist would\n- **ALL IN ENGLISH**: Every word, every section, every analysis must be in English\n\n### ANALYSIS SECTIONS (for each news item):\n- **📈 What it means for the industry**: Big picture impact on AI ecosystem\n- **⚡ Potential impact**: Concrete consequences and changes\n- **✅ Pros**: 2-3 specific benefits or opportunities\n- **❌ Cons**: 2-3 specific risks, concerns, or limitations\n- **🎯 Who should care**: Specific audience groups who should pay attention\n\n### DATA TO ANALYZE:\n{{ $json.combinedNews }}\n\n---\nBEGIN YOUR HTML EMAIL BRIEFING NOW (output only valid HTML, no markdown, everything in ENGLISH):",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        32
      ],
      "id": "c2819e5b-5d61-487f-8267-04fb04a64254",
      "name": "AI Summarizer"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "6b0f938f-0b96-40e9-a108-29095cfc4d35",
      "name": "⏰ Daily Trigger — 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        48
      ]
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "e460f078-ca60-4a77-85ac-defad4fbdc75",
      "name": "🔀 Merge RSS Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        256,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Access data from the previous node\nconst allItems = $input.all();\n\n// Sort items by date (newest first)\nallItems.sort((a, b) => {\n  const dateA = new Date(a.json.isoDate || a.json.pubDate);\n  const dateB = new Date(b.json.isoDate || b.json.pubDate);\n  return dateB - dateA;\n});\n\n// Slice top 20 items\nconst recentItems = allItems.slice(0, 20);\n\n// Combine all items into ONE string\nconst newsText = recentItems.map((item, index) => {\n  return `${index + 1}. ${item.json.title}\nLink: ${item.json.link}\nTreść: ${item.json.contentSnippet || item.json.content || 'Brak opisu'}\n---`;\n}).join('\\n\\n');\n\n// Return SINGLE item with all news\nreturn [{\n  json: {\n    combinedNews: newsText,\n    count: recentItems.length\n  }\n}];"
      },
      "id": "92a47f39-7e5b-47c2-9e00-5c4ce7efb2aa",
      "name": "🧹 Filter Top 12 Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "swiatai77@gmail.com",
        "subject": "=AI Newsy - {{ $now.format('yyyy-MM-dd') }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        32
      ],
      "id": "58cf1cb6-a513-40f9-906c-9e987cb8bf5c",
      "name": "Deliver AI Digest via Email",
      "webhookId": "fb3b7f77-2f7d-4e90-b210-229191359618",
      "credentials": {
        "gmailOAuth2": {
          "id": "yXpsyzK1NtA9wTtd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔀 AGGREGATE & FILTER",
        "height": 976,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -400
      ],
      "id": "435366e9-3258-4ec7-b287-47321c6e1794",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🤖 DIGEST (Gemini 3 Pro) & SEND",
        "height": 976,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -400
      ],
      "id": "7b15e174-e97b-4469-bc08-d96537f80bd2",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "The Verge AI": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Anthropic News": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Ars Technica": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google DeepMind": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Microsoft AI Blog": {
      "main": [
        [
          {
            "node": "🔀 Merge RSS Feeds",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "AI Summarizer": {
      "main": [
        [
          {
            "node": "Deliver AI Digest via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily Trigger — 08:00": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Anthropic News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ars Technica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google DeepMind",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft AI Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "The Verge AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge RSS Feeds": {
      "main": [
        [
          {
            "node": "🧹 Filter Top 12 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Filter Top 12 Articles": {
      "main": [
        [
          {
            "node": "AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5451569d-db91-4eab-b69a-65334cb28270",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39b49d2dae21a75e89942544ff8870dd3e6f627fdbe59b11ea575db61240ee72"
  },
  "id": "jZ9Z2Aeb42ZJYpeh3NRAK",
  "tags": []
}
